@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

$profileBg:#fff;
$skillsBg:#3d3e42;
$profileColor:#9099a0;
$skillsColor:#9099a0; 
$linkColor:#66cc99;
$boldColor:#4a4e51;
$time:0.6s;

 
@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (max-width: 1500px)  { @content; }
  }
  @if $point == mama-bear {
    @media (max-width: 1200px)  { @content; }
  }
  @if $point == brother-bear {
    @media (max-width: 850px)  { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 450px)  { @content; }
  }
}

*, *::after, *::before {
  box-sizing:border-box;
}

html,body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  line-height:1.5em;
}
a{color:$linkColor; text-decoration:none;}
.clearfix::after, .clearfix::before {
  content: " ";
	display: table;
}
.clearfix::after{clear:both;}
.bold {color:$boldColor; font-weight:400;}

.resume-wrapper {
  position:relative;
  text-align:center;
  height:100%;
}

.container {
  min-height:600px;
}